@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* Navigation styling */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  background-color: #a8dadc;
}

.logo,
.register-link,
.login-link {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

/* End of navigation styling */

.main-section {
  margin: 5rem;
}

.products-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.filter-container {
  margin: 2rem;
}

.filter-container h1 {
  margin-bottom: 2rem;
}

.filter-container ul {
  list-style-type: none;
}

.product-list-container h2 {
  margin: 2rem;
}

.products-list {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  color: #1d3557;
}

.product-card {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 0.5rem;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 2px 2px 2px honeydew;
}

.product-card img {
  width: 100%;
}

.product-card:hover,
.product-card h2:hover {
  transition: 300ms ease-in-out;
  /* transform: translateY(-1rem); */
  transform: scale(1.04);
}
